<div id="atalhos" class="hidden">
  <div class="modal" role="dialog" aria-labelledby="atalhos-titulo">
    <div class="linha entre"><h3 id="atalhos-titulo">Atalhos de teclado</h3><button class="icone-btn" type="button" data-fechar="#atalhos" aria-label="Fechar">{% icone "x" 18 %}</button></div>
    <table class="tabela">
      <tr><td><kbd>Ctrl</kbd> + <kbd>K</kbd></td><td>Busca global</td></tr>
      <tr><td><kbd>N</kbd></td><td>Novo (nota, orçamento, lançamento…)</td></tr>
      <tr><td><kbd>G</kbd> <kbd>P</kbd></td><td>Ir para o painel</td></tr>
      <tr><td><kbd>G</kbd> <kbd>C</kbd></td><td>Ir para contratos</td></tr>
      <tr><td><kbd>G</kbd> <kbd>F</kbd></td><td>Ir para o fiscal</td></tr>
      <tr><td><kbd>G</kbd> <kbd>T</kbd></td><td>Ir para tarefas</td></tr>
      <tr><td><kbd>G</kbd> <kbd>R</kbd></td><td>Ir para o financeiro</td></tr>
      <tr><td><kbd>?</kbd></td><td>Mostrar/ocultar esta lista</td></tr>
    </table>
  </div>
</div>
